rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read & write access for CMMS inspection photos and PDF reports
      allow read, write: if true;
    }
  }
}
